.movie-description-window {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/background.png);
  background-size: cover;
}

.movie-description {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}

.xbutton {
  grid-area: 1 / 5 / 2 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete {
  width: 2vw;
}

.movie-poster {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 2 / 1 / 5 / 2;
  margin: 5vh 10vh;
  box-shadow: 0px 0px 100px 100px var(--sidebar-bg-color);
  width: 300px;
  height: 450px;
}

.poster {
  width: 300px;
  height: 450px;
  position: relative;
}

.director {
  grid-area: 4 / 2 / 6 / 4;
  text-align: start;
}
.note-user {
  grid-area: 4 / 3 / 5 / 5;
  text-align: start;
  margin-left: 20%;
}

.icons-description {
  margin-top: 3%;
  margin-right: 25%;
  grid-area: 4 / 4 / 5 / 6;
  position: relative;
}

.favourite-button-description {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 13px;
  left: 65px;
  fill: var(--fill-color);
}

.favourite-button-description:hover {
  fill: var(--corail-color);
  animation: lds-heart 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}

.add-button-description {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 20px;
  left: 115px;
}

.movie-info {
  text-align: start;
  margin-top: 5%;
  margin-right: 8%;
  grid-area: 2 / 2 / 5 / 7;
}

.play-btn {
  position: absolute;
  width: calc(0.5 * 300px);
  opacity: 0.75;
}

.video-container {
  position: relative;
  margin: 0 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgb(0, 0, 0, 0.8);
  perspective: 1000px;
}

.trailer {
  margin: auto;
  box-shadow: 0px 0px 90px 80px rgba(255, 255, 255, 0.15);
  animation: videoAppear 1s linear;
}

@keyframes videoAppear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (max-width: 767px) {
  .movie-description {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/background.png);
  }

  .xbutton {
    display: none;
  }

  .movie-poster {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .poster {
    margin-top: 10%;
  }

  .director {
    text-align: start;
  }
  .note-user {
    text-align: start;
    margin-left: 10%;
  }

  .icon-fav-add {
    margin-top: 3%;
    margin-right: 25%;
    text-align: center;
    fill: var(--text-color);
  }
  .favourite-button:hover {
    fill: var(--corail-color);
    animation: lds-heart 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .movie-info {
    text-align: start;
    margin-top: 5%;
    margin-right: 8%;
  }
}
